/* ===== Image Wrapper - Always on Top ===== */

.image-wrapper {
    position: relative;
    z-index: 10;
    /* IMAGE ALWAYS UP */
    width: 100%;
    max-width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.05);
}


/* ===== Background Text - Behind Image ===== */

.bg-text:nth-child(1) {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 120px;
    font-weight: 900;
    color: rgba(1, 8, 1, 0.932);
    z-index: 1;
    /* LOWEST */
    white-space: nowrap;
    pointer-events: none;
}

.bg-text:nth-child(2) {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 120px;
    font-weight: 900;
    color: rgba(1, 8, 1, 0.932);
    z-index: 1;
    /* LOWEST */
    white-space: nowrap;
    pointer-events: none;
}


/* ===== Bottom Outline Text ===== */

.outline-text {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 70px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1.5px rgb(20, 141, 111);
    opacity: 0.8;
    white-space: nowrap;
    z-index: 2;
    /* Image er niche but bg-text er upore */
}


/* ===== Responsive ===== */

@media (max-width: 1024px) {
    .bg-text:nth-child(1),
    .bg-text:nth-child(2) {
        font-size: 90px;
    }
    .outline-text {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .bg-text:nth-child(1) {
        top: 15%;
        font-size: 70px;
    }
    .bg-text:nth-child(2) {
        top: 30%;
        font-size: 70px;
    }
    .outline-text {
        font-size: 40px;
        bottom: 8%;
    }
}

@media (max-width: 480px) {
    .bg-text:nth-child(1),
    .bg-text:nth-child(2) {
        font-size: 50px;
    }
    .outline-text {
        font-size: 30px;
    }
}